@use '../tools/_sass_variables.scss' as v;

.badge {
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: v.$radius_s;
  font-size: 0.85em;
  font-weight: 600;
  background: v.$grey;
  color: v.$white;
  &.default {
    background: v.$grey;
  }
  &.success {
    background: v.$valid_color;
  }
  &.warning {
    background: v.$warning_color;
  }
  &.error {
    background: v.$error_color;
  }
  &.info {
    background: v.$info_color;
  }
} 