@use '../tools/_sass_variables.scss' as v;

.ui-section {
  padding: 4rem 0;
  background: v.$white;
  
  .ui-section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  &.ui-section-dark {
    background: v.$black;
    color: v.$white;
  }
  
  &.ui-section-primary {
    background: v.$primary_color;
    color: v.$white;
  }
  
  &.ui-section-light {
    background: v.$light_grey;
  }
  
  &.ui-section-small {
    padding: 2rem 0;
  }
  
  &.ui-section-large {
    padding: 6rem 0;
  }
} 