@use '../tools/_sass_variables.scss' as v;
@use '../tools/_mixins.scss' as mx;
@use '../tools/_models.scss' as m;

.lib-section {
  position: relative;
  width: 100%;
  height: 55dvh;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 120%;
  background-attachment: fixed;
  transition: background-position 0.1s ease-out;

  div.content {
    .img_deco {
      width: 100%;
      height: auto;
      filter: drop-shadow(0px 0px 4px v.$black);
      bottom: 38%;
    }
    .img_deco_brasserie {
      width: 70%;
    }
    div.coupled_img_container {
      .coupled_img {
        filter: drop-shadow(0px 0px 4px black);
      }
      h2 {
        margin: 15px 0 0 35px;
        text-shadow: 0 0 3px v.$black;
      }
    }
    .btn_section {
      bottom: -40px;
    }
  }

  &::before {
    background-image: url('/img/separator_top.svg');
    content: '';
    width: 100%;
    height: 95px;
    position: absolute;
    top: 0;
  }
  &::after {
    background-image: url('/img/separator_bottom.svg');
    content: '';
    width: 100%;
    height: 94px;
    position: absolute;
    bottom: 0;
  }
}

/*  BREAKPOINTS  */

@media screen and (425px <= width <= 1024px){

}
@media screen and (min-width:1025px) {
  .lib-section {
    .bg_img {
      width: 80%;
    }
    div.content {
      display: flex;
      flex-direction: row;
      .img_deco {
        display: none;
      }
      .img_deco_brasserie {
      }
      div.coupled_img_container {
        .coupled_img {
          width: auto;
          height: 60%;
        }
        h2 {
          font-weight: 300;
          font-size: 5rem
        }
      }
      div.coupled_img_container.beerDecoImg {
        .coupled_img {
          transform: rotate(20deg);
        }
      }
      .btn_section {
        left: 50%;
      }
    }
  }
} 