@use '../tools/_sass_variables.scss' as v;

.radio_container {
  display: flex;
  align-items: center;
  gap: v.$flex_gap_s;

  input[type="radio"] {
    width: 18px;
    height: 18px;
    accent-color: v.$info_color;
  }
} 