@use '../tools/_sass_variables.scss' as v;
@use '../tools/_mixins.scss' as mx;
@use '../tools/_models.scss' as m;

.lib-footer {
  @include mx.setSize(100%,auto);
  background: url("/img/dark_bg_scratched.png") no-repeat;
  background-size: cover;

  .list_container {
    padding: 5%;

    div {
      width: 50%;
      color: v.$white;

      h3 {
        text-align: center;
      }
      ul {

        li {
          list-style: none;
          font-size: v.$size_txt_s;
        }
      }
    }
  }
  p.footer_banner {
    background: v.$light-grey;
  }
} 