@use '../tools/_sass_variables.scss' as v;

.card_container {
  background: v.$white;
  border-radius: v.$main_radius;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: v.$flex_gap;
  display: flex;
  flex-direction: column;
  gap: v.$flex_gap_s;
} 