@use '../tools/_sass_variables.scss' as v;

.ui-card {
  background: v.$white;
  border-radius: v.$radius_m;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border: 1px solid v.$light_grey;
  transition: box-shadow 0.2s ease;
  
  &:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }
} 