@use '../tools/_sass_variables.scss' as v;
@use '../tools/_mixins.scss' as mx;
@use '../tools/_models.scss' as m;

.primary_button_s {
  @include mx.setBtn();
}
.primary_button_m {
  @include mx.setBtn($width:v.$btn_width_m);
}
.primary_button_l {
  @include mx.setBtn($width:v.$btn_width_l);
}
.primary_button_s_reverse {
  @include mx.setBtn($shadow_reverse:true);
}
.primary_button_m_reverse {
  @include mx.setBtn($width:v.$btn_width_m, $shadow_reverse:true);
}
.primary_button_l_reverse {
  @include mx.setBtn($width:v.$btn_width_l, $shadow_reverse:true);
}

.secondary_button_s {
  @include mx.setBtn($width:v.$btn_width_s, $color:v.$black, $bg_color:v.$white, $shadow_color:v.$grey);
}
.secondary_button_m {
  @include mx.setBtn($width:v.$btn_width_m, $color:v.$black, $bg_color:v.$white, $shadow_color:v.$grey);
}
.secondary_button_l {
  @include mx.setBtn($width:v.$btn_width_l, $color:v.$black, $bg_color:v.$white, $shadow_color:v.$grey);
}

.secondary_button_s_reverse {
  @include mx.setBtn($width: v.$btn_width_s, $color: v.$black, $bg_color: v.$white, $shadow_color: v.$grey, $shadow_reverse: true);
}
.secondary_button_m_reverse {
  @include mx.setBtn($width:v.$btn_width_s, $color:v.$black, $bg_color:v.$white, $shadow_color:v.$grey, $shadow_reverse:true);
}
.secondary_button_l_reverse {
  @include mx.setBtn($width:v.$btn_width_s, $color:v.$black, $bg_color:v.$white, $shadow_color:v.$grey, $shadow_reverse:true);
}

.secondary_button_s:active, .secondary_button_m:active, .secondary_button_l:active,
.secondary_button_s_reverse:active, .secondary_button_m_reverse:active, .secondary_button_l_reverse:active {
  color: v.$white;
}

.valid_button_s {
  @include mx.setBtn($width:v.$btn_width_s, $bg_color:v.$valid_color, $shadow_color:#114E25);
}
.valid_button_m {
  @include mx.setBtn(v.$btn_width_m, $bg_color:v.$valid_color, $shadow_color:#114E25);
}
.valid_button_l {
  @include mx.setBtn($width:v.$btn_width_l, $bg_color:v.$valid_color, $shadow_color:#114E25);
}
.valid_button_s_reverse {
  @include mx.setBtn($width:v.$btn_width_s, $bg_color:v.$valid_color, $shadow_color:#114E25, $shadow_reverse:true);
}
.valid_button_m_reverse {
  @include mx.setBtn(v.$btn_width_m, $bg_color:v.$valid_color, $shadow_color:#114E25, $shadow_reverse:true);
}
.valid_button_l_reverse {
  @include mx.setBtn($width:v.$btn_width_l, $bg_color:v.$valid_color, $shadow_color:#114E25, $shadow_reverse:true);
}

.info_button_s {
  @include mx.setBtn($width:v.$btn_width_s, $bg_color:v.$info_color, $shadow_color:#274058);
}
.info_button_m {
  @include mx.setBtn($width:v.$btn_width_m, $bg_color:v.$info_color, $shadow_color:#274058);
}
.info_button_l {
  @include mx.setBtn($width:v.$btn_width_l, $bg_color:v.$info_color, $shadow_color:#274058);
}
.info_button_s_reverse {
  @include mx.setBtn($width:v.$btn_width_s, $bg_color:v.$info_color, $shadow_color:#274058, $shadow_reverse:true);
}
.info_button_m_reverse {
  @include mx.setBtn($width:v.$btn_width_m, $bg_color:v.$info_color, $shadow_color:#274058, $shadow_reverse:true);
}
.info_button_l_reverse {
  @include mx.setBtn($width:v.$btn_width_l, $bg_color:v.$info_color, $shadow_color:#274058, $shadow_reverse:true);
}

.warning_button_s {
  @include mx.setBtn($width:v.$btn_width_s, $bg_color:v.$warning_color, $shadow_color:#800000);
}
.warning_button_m {
  @include mx.setBtn($width:v.$btn_width_m, $bg_color:v.$warning_color, $shadow_color:#800000);
}
.warning_button_l {
  @include mx.setBtn($width:v.$btn_width_l, $bg_color:v.$warning_color, $shadow_color:#800000);
}
.warning_button_s_reverse {
  @include mx.setBtn($width:v.$btn_width_s, $bg_color:v.$warning_color, $shadow_color:#800000, $shadow_reverse:true);
}
.warning_button_m_reverse {
  @include mx.setBtn($width:v.$btn_width_m, $bg_color:v.$warning_color, $shadow_color:#800000, $shadow_reverse:true);
}
.warning_button_l_reverse {
  @include mx.setBtn($width:v.$btn_width_l, $bg_color:v.$warning_color, $shadow_color:#800000, $shadow_reverse:true);
}

@media screen and (min-width:1025px) {
  .primary_button_s:hover, .primary_button_m:hover, .primary_button_l:hover {
    box-shadow: 3px 3px 0 v.$light_grey;
  }
  .primary_button_s_reverse:hover, .primary_button_m_reverse:hover, .primary_button_l_reverse:hover {
    box-shadow: -3px 3px 0 v.$light_grey;
  }
  .secondary_button_s:hover, .secondary_button_m:hover, .secondary_button_l:hover {
    box-shadow: 3px 3px 0 v.$grey;
  }
  .secondary_button_s_reverse:hover, .secondary_button_m_reverse:hover, .secondary_button_l_reverse:hover {
    box-shadow: 3px 3px 0 v.$grey;
  }
  .valid_button_s:hover, .valid_button_m:hover, .valid_button_l:hover {
    box-shadow: 3px 3px 0 #114E25;
  }
  .valid_button_s_reverse:hover, .valid_button_m_reverse:hover, .valid_button_l_reverse:hover {
    box-shadow: 3px 3px 0 #114E25;
  }
  .info_button_s:hover, .info_button_m:hover, .info_button_l:hover {
    box-shadow: 3px 3px 0 #274058;
  }
  .info_button_s_reverse:hover, .info_button_m_reverse:hover, .info_button_l_reverse:hover {
    box-shadow: 3px 3px 0 #274058;
  }
  .warning_button_s:hover, .warning_button_m:hover, .warning_button_l:hover {
    box-shadow: 3px 3px 0 #800000;
  }
  .warning_button_s_reverse:hover, .warning_button_m_reverse:hover, .warning_button_l_reverse:hover {
    box-shadow: 3px 3px 0 #800000;
  }
} 