@use '../tools/_sass_variables.scss' as v;

.wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  z-index: 10;
  background: v.$black;
  color: v.$white;
  padding: 0.5em 1em;
  border-radius: v.$radius_s;
  font-size: 0.9em;
  white-space: nowrap;
  opacity: 0.95;
  pointer-events: none;
  &.top {
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%) translateY(-0.5em);
  }
  &.right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(0.5em);
  }
  &.bottom {
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(0.5em);
  }
  &.left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(-0.5em);
  }
} 