@use '../tools/_sass_variables.scss' as v;

.ui-alert {
  padding: 1rem;
  border-radius: v.$radius_m;
  margin-bottom: 1rem;
  font-size: v.$size_txt_m;
  border-left: 4px solid;
  
  &.info {
    background: rgba(v.$info_color, 0.1);
    border-left-color: v.$info_color;
    color: v.$info_color;
  }
  
  &.success {
    background: rgba(v.$valid_color, 0.1);
    border-left-color: v.$valid_color;
    color: v.$valid_color;
  }
  
  &.warning {
    background: rgba(v.$warning_color, 0.1);
    border-left-color: v.$warning_color;
    color: v.$warning_color;
  }
  
  &.error {
    background: rgba(v.$error_color, 0.1);
    border-left-color: v.$error_color;
    color: v.$error_color;
  }
} 